[Desktop Entry]
Name=Helm
GenericName=Software synthesizer
Comment=Real-time software synthesizer
Icon=helm
Type=Application
Exec=/usr/bin/helm
Terminal=false
Categories=Audio;AudioVideo;Midi;X-Synthesis;X-Jack;
Name[en_US]=helm
